<div class="row">
  <h3>{{player.fullName}}, you currently owe a total of:</h3>
  <h1>{{player.debt}}</h1>

  <div class="col-sm-12" class="row" *ngFor="let debt of player.debtHistory let o=odd; let e=even; let f=first; let l=last"
    [ngClass]="{oddRow : o, evenRow : e}"
    [class.topRow]="f"
    [class.bottomRow]="l"
    >

    <div class="col-sm-4">
      <p>{{debt.date}}</p>
    </div>

    <div class="col-sm-4">
      <p>{{debt.amount | currency: 'GBP' : 'true'}}</p>
    </div>

    <div class="col-sm-4">
      <p>{{debt.who}}</p>
    </div>

  </div>

  <!-- <div *ngFor="let debt of player.debtHistory">
    <p>{{player.date}}</p>
  </div> -->

</div>
